#Tex{
    font-size: 12px;
    color: rgb(248, 62, 223);;
  }
  
  #D{
    font-size: 12px;
    color: rgb(248, 62, 223);
  
  }
  
  .titulo{
    font-size: 30px;
    color: rgb(248, 62, 223);
    font-weight:bold;
  
  }