<div class="container">


    <body>
        <hr>
        <h1 class="text-center titulo">Datos del estudiante</h1>
        <hr>
        <div>
            <div class="row">
                <div class="col-4">
                    <label id="D" for="Nombr:">Nombre del estudiante:</label>
                </div>
                <div id="Tex" class="col-6">{{NombrePersona}}</div>
            </div><br>
            <div class="row">
                <div class="col-4">
                    <label id="D" for="Nombr:">Número de carnet:</label>
                </div>
                <div id="Tex" class="col-6">{{Carnet}}</div>
            </div><br>
            <div class="row">
                <div class="col-4">
                    <label id="D" for="Nombr:">Docente:</label>
                </div>
                <div id="Tex" class="col-6">{{Docente}}</div>
            </div><br>
            <div class="row">
                <div class="col-4">
                    <label id="D" for="Nombr:">Parcial:</label>
                </div>
                <div id="Tex" class="col-6">{{Parcial}}</div>
            </div><br>

        </div>

        <body>
            <div>